* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(35, 71, 179);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.75) 2px 8px 26px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 1.25em;
}


a {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.header__login-icon {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    cursor: pointer;
}